<div>
  <h1 class="title">Tasks To Master</h1>
</div>
<div class="list-box">
  Create a List
  <input
    type="text"
    class="input-text"
    placeholder="list-name"
    [(ngModel)]="listValue"
    (keyup.enter)="addList()"
  />
  <button class="add-btn" (click)="addList()">Add</button>
</div>

<div class="list">
  <!-- <ul> -->
  <div *ngFor="let item of lists">
    {{ item.value }}
    <div>
      <!-- <input name="status" [(ngModel)]="item.status" /> -->
      <input type="text" class="todo-item" [(ngModel)]="todoValue" />
      <button class="btn" (click)="addTodo()">
        Add
      </button>
    </div>
    <ul>
      <li *ngFor="let td of todos">
        <input type="checkbox" name="status" [(ngModel)]="td.status" />{{
          td.value
        }}
        <button class="btn" (click)="deleteTodo(td.id)">Delete</button>
      </li>
    </ul>
    <button class="btn" (click)="deleteItem(item.id)">Delete</button>
  </div>
  <!-- </ul> -->
</div>
